# Creating a SparkSession

In [38]:
# https://spark.apache.org/docs/latest/sql-programming-guide.html#sql

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("TestApp") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

# Loading csv file using SparkContext

In [7]:
from pyspark.sql import SQLContext
import pyspark

df = spark.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('gen.csv')

df.cache()
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("gen")

In [8]:
df.printSchema()

root
 |-- c0: double (nullable = true)
 |-- c1: double (nullable = true)
 |-- c2: double (nullable = true)
 |-- c3: double (nullable = true)
 |-- c4: double (nullable = true)
 |-- c5: double (nullable = true)
 |-- c6: double (nullable = true)
 |-- c7: double (nullable = true)
 |-- c8: double (nullable = true)
 |-- c9: double (nullable = true)
 |-- label: integer (nullable = true)

In [9]:
display(df.show(10))

+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-----+
|                  c0|                  c1|                  c2|                 c3|                  c4|                 c5|                 c6|                  c7|                 c8|                  c9|label|
+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-----+
| -0.5818906172019618| 0.06428818034683818| -0.2761923630683961| 0.6718147593887743|  1.0920095988722633|-0.6568081717744917| -0.773231768127305|  1.7764854943968649| 0.9271374696145964| -0.4244546552314705|    1|
| -2.1328297811774832|  1.3529960238222913|-0.26488382717008113| 0.4275415782422321| -1.1457996293525423| 1.2873501140005958|0.11501049749712955|  0.9672409929929762|-0.9312181098710113|  0.5245282617771482|    0|
| -0.5668967878439948|  0.8239433756074305|-0.05412970908830194|-1.2855890670772407|  1.0330423502861812| -1.972572187311033|0.02337762137029659|-0.30210813833322847|-0.5379400020257199|-0.21785008699633351|    1|
|  0.9267380980974851|-0.28640791884465433| -0.5528172593280584|0.20128220867643987|   -1.41704111558412|0.32141781983319273|-0.6017664446283723| 0.09116388001574129| 0.4796651282350716|  1.7249319690637592|    0|
| -0.6586628341664812|-0.41882244233434707| 0.41696583246798496| -1.487653109293378|  0.8273195697329444| 0.5495522041812949|-0.1853129046753318|  0.7080848810720778| -0.833842608955726|  0.6125759258554863|    1|
| 0.26270680319776346| 0.46694035107555604|  0.6301825369829871| -0.860906453460418|-0.24299179152893569|   1.86000484860047| 0.4124515846171261|  0.0603721581999865|0.17840318816697837|  0.6592441750337354|    0|
| -1.8490741477864192| -0.1333900423239349|-0.11660103357772732| 1.6910499532589505| -0.3392041729788693|0.11195181211350581|-0.3398797004483011|  0.5898533986177664|-0.9309679424089946| -0.2765078895479712|    0|
| -2.0059958273414034|-0.22555212792472606| -2.6058858960599665|0.43222752417895227|  1.1502830426552233| -0.741111901425589| -0.518329990217434|-0.48840612416530305|-0.5751315255762424| -0.5582669529463834|    1|
|-0.12326866289641163|  0.5051677662811811| 0.08108494521816095|  1.598776796698159| -1.9002485317450968| 0.5280809211027077| -0.675090522231222| 0.08516911342828772|0.39624964926279543| -1.3514917285329373|    0|
| -1.2764665813714955|  0.8166794745011788|   -0.44886581799793|-0.7239199498927736|  1.0327044197233655|-0.1904722581083792| 2.7141093249854142|  0.4636061753764401|0.22994219582976402|  1.4364978457947812|    1|
+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-----+
only showing top 10 rows

None

In [176]:
display(df.columns)
display(df.dtypes)
df.sample(False, 0.3).count()

['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'label']

[('c0', 'double'),
 ('c1', 'double'),
 ('c2', 'double'),
 ('c3', 'double'),
 ('c4', 'double'),
 ('c5', 'double'),
 ('c6', 'double'),
 ('c7', 'double'),
 ('c8', 'double'),
 ('c9', 'double'),
 ('label', 'int')]

29

# Run Simple SQL using SparkContext

In [14]:
sqlDF = sqlContext.sql("SELECT c1, label FROM gen") # or df.select([c1, label])
sqlDF.show(10)

c1 = list(map(lambda r : r['c1'], sqlDF.collect()))
label = list(map(lambda r : r['label'], sqlDF.collect()))
list(zip(c1, label))

+--------------------+-----+
|                  c1|label|
+--------------------+-----+
| 0.06428818034683818|    1|
|  1.3529960238222913|    0|
|  0.8239433756074305|    1|
|-0.28640791884465433|    0|
|-0.41882244233434707|    1|
| 0.46694035107555604|    0|
| -0.1333900423239349|    0|
|-0.22555212792472606|    1|
|  0.5051677662811811|    0|
|  0.8166794745011788|    1|
+--------------------+-----+
only showing top 10 rows

[(0.06428818034683818, 1),
 (1.3529960238222913, 0),
 (0.8239433756074305, 1),
 (-0.28640791884465433, 0),
 (-0.41882244233434707, 1),
 (0.46694035107555604, 0),
 (-0.1333900423239349, 0),
 (-0.22555212792472606, 1),
 (0.5051677662811811, 0),
 (0.8166794745011788, 1),
 (-0.13272954993281647, 0),
 (0.03153938761529191, 1),
 (-0.6866031297548427, 1),
 (1.0967836176497179, 0),
 (1.0054612530350273, 1),
 (1.3001850807334896, 0),
 (-0.6795394749289622, 0),
 (1.4097054742972168, 0),
 (-0.6659808992622139, 0),
 (0.5232745995878693, 1),
 (0.13039370231405742, 0),
 (-0.3442160867877221, 0),
 (-0.2058430589149328, 0),
 (1.8158952412146447, 1),
 (-0.46970924421213306, 0),
 (-0.8548799464679143, 1),
 (-1.1495712377429472, 1),
 (0.1058375828979097, 1),
 (0.5976307224713343, 1),
 (-1.7543729612604253, 1),
 (-1.5297508788661296, 1),
 (-1.1717775197847766, 0),
 (-0.7237153197266217, 1),
 (1.074461857166102, 1),
 (0.0086594192939135, 1),
 (-0.5892380768249048, 0),
 (-1.4560898793026924, 0),
 (1.1823939404796393, 1),
 (-0.08021071179156003, 1),
 (0.2781777425862949, 1),
 (0.2829712889822183, 0),
 (2.2197689554661877, 0),
 (0.09075529938023236, 0),
 (0.1316133444038167, 0),
 (-0.6968164701736839, 0),
 (-0.4885856613362935, 1),
 (0.4812937196999528, 0),
 (1.0604915207005312, 1),
 (2.280418608982429, 1),
 (-0.2571714784940396, 1),
 (0.11835635783037327, 1),
 (0.953966371574829, 0),
 (-1.261043113044343, 1),
 (-0.9746357026266477, 0),
 (-2.4592816020671187, 0),
 (-0.6696689268114607, 0),
 (0.2673084760850625, 0),
 (-0.22377383891421906, 0),
 (0.4801468527676887, 1),
 (-1.9197970218087448, 0),
 (1.7824859506009527, 0),
 (-0.20125008767573974, 0),
 (-0.5635493489596015, 1),
 (-1.1919998982910485, 0),
 (-1.5200327289763937, 1),
 (-1.2597041308078833, 1),
 (-0.3323911117633173, 0),
 (-0.21701447126619577, 0),
 (-1.1320091333280982, 1),
 (0.26380434487394644, 1),
 (-1.1576242092458424, 0),
 (-0.32340914067152493, 1),
 (-0.8190554787752983, 0),
 (-0.27884491458489696, 1),
 (-0.7164650820244339, 1),
 (-0.396796167772885, 1),
 (-1.3605983478227686, 0),
 (0.07540423110962563, 1),
 (1.0397437304127766, 0),
 (0.03343327718140015, 1),
 (-0.20411520013101508, 1),
 (-0.0008908378997140914, 1),
 (-1.1608505233497781, 0),
 (-0.566023080934193, 0),
 (-0.09620601787108744, 1),
 (0.5663467227873995, 1),
 (-0.026182373466608694, 0),
 (-0.18429720299268615, 0),
 (0.9660233397596328, 0),
 (-0.32981296791112513, 1),
 (0.8596599846966521, 0),
 (1.421038681573694, 1),
 (1.1701166629555297, 0),
 (-0.10446170335296306, 1),
 (-0.1687627851350876, 0),
 (0.017317072958511204, 1),
 (0.888803155795129, 0),
 (0.8252008763148952, 1),
 (-0.7591792005827408, 0),
 (0.5331071974681983, 1)]

# Projection

In [16]:
df.select("c1").show(10)
df.select(['label']).show(10)

+--------------------+
|                  c1|
+--------------------+
| 0.06428818034683818|
|  1.3529960238222913|
|  0.8239433756074305|
|-0.28640791884465433|
|-0.41882244233434707|
| 0.46694035107555604|
| -0.1333900423239349|
|-0.22555212792472606|
|  0.5051677662811811|
|  0.8166794745011788|
+--------------------+
only showing top 10 rows

+-----+
|label|
+-----+
|    1|
|    0|
|    1|
|    0|
|    1|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+
only showing top 10 rows

# Filtering

In [17]:
df.filter(df['c1'] > 0).select(['c1', 'c2']).show(10)

+-------------------+--------------------+
|                 c1|                  c2|
+-------------------+--------------------+
|0.06428818034683818| -0.2761923630683961|
| 1.3529960238222913|-0.26488382717008113|
| 0.8239433756074305|-0.05412970908830194|
|0.46694035107555604|  0.6301825369829871|
| 0.5051677662811811| 0.08108494521816095|
| 0.8166794745011788|   -0.44886581799793|
|0.03153938761529191|  0.9819524616870424|
| 1.0967836176497179|  1.5357818984553249|
| 1.0054612530350273| -1.1415938294150696|
| 1.3001850807334896|  -2.261616072256548|
+-------------------+--------------------+
only showing top 10 rows

# Spark Datafram to Pandas Dataframe

In [15]:
sqlDF.toPandas().head(10)

         c1  label
0  0.064288      1
1  1.352996      0
2  0.823943      1
3 -0.286408      0
4 -0.418822      1
5  0.466940      0
6 -0.133390      0
7 -0.225552      1
8  0.505168      0
9  0.816679      1

# Adding a new Column on DataFrame

In [10]:
df_new = df.withColumn('dc0', df['c0'])
df_new.columns

['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'label', 'dc0']

In [11]:
df_new.head()

Row(c0=-0.5818906172019618, c1=0.06428818034683818, c2=-0.2761923630683961, c3=0.6718147593887743, c4=1.0920095988722633, c5=-0.6568081717744917, c6=-0.773231768127305, c7=1.7764854943968649, c8=0.9271374696145964, c9=-0.4244546552314705, label=1, dc0=-0.5818906172019618)

# Column Transformation using UDF

In [12]:
# https://docs.databricks.com/spark/latest/dataframes-datasets/introduction-to-dataframes-python.html
from pyspark.sql import functions as F

from pyspark.sql.types import FloatType
from pyspark.sql.functions import udf

my_f = udf(lambda x : 5 - x * x, FloatType())

df_new = df.withColumn('test', my_f(df['c0']))

In [13]:
df_new.select(['test']).show(10)
df_new.columns

+----------+
|      test|
+----------+
|  4.661403|
|0.45103714|
|  4.678628|
| 4.1411567|
|  4.566163|
|  4.930985|
| 1.5809247|
|0.97598076|
| 4.9848046|
| 3.3706331|
+----------+
only showing top 10 rows

['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'label', 'test']

# Drop a Column from a DataFrame

In [49]:
df_new = df_new.drop('test')
df_new.columns

['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'label']

In [51]:
# a = df.rdd.map(lambda x: x['c1'])
# a.collect()

# Schema of DataFrame

In [20]:
l = df[['c0', 'label']]

s = l.schema

a = s.fields[0]
display(s)
display(a)
display(a.dataType)

StructType(List(StructField(c0,DoubleType,true),StructField(label,IntegerType,true)))

StructField(c0,DoubleType,true)

DoubleType

# Filter Columns by Types and Names

In [54]:
def filter_cols_by_type(df, func):
    lst = list(filter(func, df.dtypes))
    return list(map(lambda field : field[0], lst))

def filter_cols_by_name(df, func):
    return list(filter(func, df.columns))
    
cols = filter_cols_by_type(df, lambda field: field[1] == 'double')
display(cols)

cols = filter_cols_by_name(df, lambda field: 'label' in field)
display(cols)

['a', 'b']

[]

In [22]:
display(df.dtypes)
display(df.columns)

[('c0', 'double'),
 ('c1', 'double'),
 ('c2', 'double'),
 ('c3', 'double'),
 ('c4', 'double'),
 ('c5', 'double'),
 ('c6', 'double'),
 ('c7', 'double'),
 ('c8', 'double'),
 ('c9', 'double'),
 ('label', 'int')]

['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'label']

In [23]:
df.schema

StructType(List(StructField(c0,DoubleType,true),StructField(c1,DoubleType,true),StructField(c2,DoubleType,true),StructField(c3,DoubleType,true),StructField(c4,DoubleType,true),StructField(c5,DoubleType,true),StructField(c6,DoubleType,true),StructField(c7,DoubleType,true),StructField(c8,DoubleType,true),StructField(c9,DoubleType,true),StructField(label,IntegerType,true)))

# Using StringIndexer

In [55]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline


def __create_string_indexers(df, cols):
    indexers = []
    fmt = '{}_index'
    for c in cols:
        indexer = StringIndexer(inputCol=c, outputCol=fmt.format(c))
        indexers.append(indexer)
    
    return indexers
    
def create_string_indexers(df, ex_cols=None):
    cols = filter_cols_by_type(df, lambda field: field[1] == 'string')
    if ex_cols is not None:
        for c in ex_cols:
            if c in cols:
                cols.remove(c)
    indexers = __create_string_indexers(df, cols)
    return cols, indexers
    

df_sample = spark.createDataFrame(
    [(0, "a", 'aaa', float("nan")), 
     (1, "b", 'bbb', float("nan")), 
     (2, "c", 'ccc', float("nan")), 
     (3, "a", 'aaa', float("nan")), 
     (4, "a", 'aaa', float("nan")), 
     (5, "c", 'ccc', 1.0)],
    ["id", "category", 'ext', 'price'])

display(df_sample.dtypes)

cols, indexers = create_string_indexers(df_sample, ['ext'])
display(cols)

pipe = Pipeline(stages=indexers)
df_indexed = pipe.fit(df_sample).transform(df_sample)
df_indexed.show()

[('id', 'bigint'),
 ('category', 'string'),
 ('ext', 'string'),
 ('price', 'double')]

['category']

+---+--------+---+-----+--------------+
| id|category|ext|price|category_index|
+---+--------+---+-----+--------------+
|  0|       a|aaa|  NaN|           0.0|
|  1|       b|bbb|  NaN|           2.0|
|  2|       c|ccc|  NaN|           1.0|
|  3|       a|aaa|  NaN|           0.0|
|  4|       a|aaa|  NaN|           0.0|
|  5|       c|ccc|  1.0|           1.0|
+---+--------+---+-----+--------------+

In [26]:
df_sample.describe().show()

+-------+------------------+--------+----+-----+
|summary|                id|category| ext|price|
+-------+------------------+--------+----+-----+
|  count|                 6|       6|   6|    6|
|   mean|               2.5|    null|null|  NaN|
| stddev|1.8708286933869707|    null|null|  NaN|
|    min|                 0|       a| aaa|  1.0|
|    max|                 5|       c| ccc|  NaN|
+-------+------------------+--------+----+-----+

In [27]:
df_sample.dropna().show()

+---+--------+---+-----+
| id|category|ext|price|
+---+--------+---+-----+
|  5|       c|ccc|  1.0|
+---+--------+---+-----+

# Using Imputer To Fill Missing Values - nan (none), null

In [62]:
from pyspark.ml.feature import Imputer

df = spark.createDataFrame([
    (1.0, float("nan")),
    (2.0, float("nan")),
    (None, 3.0),
    (4.0, 4.0),
    (None, 5.0)
], ["a", "b"])

imputer = Imputer(inputCols=["a", "b"], outputCols=["out_a", "out_b"])
model = imputer.fit(df)

model.transform(df).show()

+----+---+------------------+-----+
|   a|  b|             out_a|out_b|
+----+---+------------------+-----+
| 1.0|NaN|               1.0|  4.0|
| 2.0|NaN|               2.0|  4.0|
|null|3.0|2.3333333333333335|  3.0|
| 4.0|4.0|               4.0|  4.0|
|null|5.0|2.3333333333333335|  5.0|
+----+---+------------------+-----+

In [65]:
df.dropna().show()

+---+---+
|  a|  b|
+---+---+
|4.0|4.0|
+---+---+

# Using StringIndexer

In [63]:
a=df['a']

In [64]:
assert df.filter(a.isNotNull()).count() == df.filter(df.a.isNotNull()).count()

In [46]:
assert df.filter(~a.isNotNull()).count() == df.filter(~df.a.isNotNull()).count()

In [59]:
df.registerTempTable('df123')
spark.sql('select count(a) from df123 where a is not null').show()

+--------+
|count(a)|
+--------+
|       3|
+--------+

In [68]:
# import pyspark
# sc = pyspark.SparkContext('local[*]')

# # do something to prove it works
# rdd = sc.parallelize(range(1000))
# rdd.takeSample(False, 5)

# ======================================


# # !cat /opt/conda/LICENSE.txt

# RDDread = sc.textFile ("/opt/conda/LICENSE.txt")
# RDDread.collect()
# RDDread.first()
# RDDread.sample(True, 0.33).collect()